<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <body>
        <section class="section section_face">
            <%- include('block/face') %>
        </section>
        <section class="section section_cause">
            <%- include('block/cause') %>
        </section>
        <section class="section section_demonstration">
            <%- include('block/demonstration') %>
        </section>
        <section class="section section_help">
            <%- include('block/help') %>
        </section>
        <section class="section section_innovation">
            <%- include('block/innovation') %>
        </section>
        <section class="section section_ingredients">
            <%- include('block/ingredients') %>
        </section>
        <section class="section section_professional">
            <%- include('block/professional') %>
        </section>
        <section class="section section_face section_face-footer">
            <%- include('block/commits') %>
            <%- include('block/face') %>
        </section>
        <%- include('block/script') %>
    </body>
</html>
